{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">

			{% if is_error == True %}
				<h4 style="color:red"> {{error}} </h4>
			{% endif %}
			<h1>Project: {{currProject.get_name}}</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Project details </th>
					</tr>

				</thead>

				<tbody>
					<tr><td>Owner:</td><td> <a href = "/profile?name={{currProject.get_owner.get_email}}">{{currProject.get_owner}}</a></td></tr>
					<tr><td>Company:</td><td> <a href = "/company?name={{currProject.get_company.name}}">{{currProject.get_company}}</a></td></tr>
					<tr><td>Created time:</td><td>{{currProject.get_created_at}}</td></tr>
					<tr><td>Last modified:</td><td>{{currProject.get_updated_at}}</td></tr>
					<tr><td>Programming Language:</td><td>{{currProject.get_programmingLanguage}}</td></tr>
					<tr><td>Years Of Experience required:</td><td>{{currProject.get_yearsOfExperience}}</td></tr>
					<tr><td>Speciality:</td><td>{{currProject.get_speciality}}</td></tr>
					<tr><td>
						{{ currProject.get_description | safe }}
					</td><td></td></tr>

					{% if updatePermission == True %}
						<form method="POST" action="/project/update_handler">{% csrf_token %}
							<input type="hidden" name="target_user" value="{{currUser}}" />
							<input type="submit" class='btn btn-primary' value="Update this project">
						</form>
					{% endif %}

					{% if deletePermission == True %}
						<form method="POST" action="/project/delete_handler">{% csrf_token %}
							<input type="hidden" name="target_project" value="{{currProject.get_name}}" />
							<input type="submit" class='btn btn-danger' value="Delete this project">
						</form>
					{% endif %}

				</tbody>

				</table>
		</div>
	</div>

{% endblock %}
