{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>
							Project Name for Tag {{target_tag}}
						</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
						<td><a href="/project?name={{project.name}}">{{ project.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
				{% if tag_list %}
				<p>Tags:
				{% for tag in tag_list %}
					<a href="/project/all?tag={{tag.tagname}}"><label class='btn-sm btn-{{tag.tagtype}}'>{{ tag.tagname }}</label></a>
				{% endfor %}
				{% endif %}
			</p>
			</table>
		</div>
	</div>

{% endblock %}
