{% extends "body.html" %}

{% block content %}
	<!-- Content -->

    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Welcome, Admin {{currUser.get_short_name}} </th>
					</tr>
				</thead>
				<tbody>
					<tr><td>First Name:</td><td>{{currUser.get_first_name}}</td></tr>
          <tr><td>Last Name:</td><td>{{currUser.get_last_name}}</td></tr>
          <tr><td>Email:</td><td><a href="mailto:{{currUser.get_email}}">{{currUser.get_email}}</a></td></tr>
          {% if currUser.get_phone_number == None %}
          <tr><td>Phone:</td><td>{{currUser.get_phone_number}}</td></tr>
          {% else %}
          <tr><td>Phone:</td><td><a href="tel:{{currUser.get_phone_number}}">{{currUser.get_phone_number}}</a></td></tr>
          {% endif %}

          {% if updatePermission == True %}
          <tr><td>
            <form method="POST" action="update_handler">{% csrf_token %}
              <input type="hidden" name="target_user" value="{{currUser}}" />
        			<input type="submit" class='btn btn-primary' value="Update">
        		</form>
            </td><td></td></tr>
          {% endif %}
        </tbody>
			</table>
		</div>


{% endblock %}
